<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winner.mes.ems.dao.mapper.ParamMapper">
    <select id="getParamListByTypeCode" resultType="com.winner.mes.ems.pojo.MappingVo">
        SELECT p.name name,p.val code ,pt.code dataTypeCode
        FROM param p,param_type pt where param_type_id = pt.id and pt.code in
        <foreach collection="mappingVoList" item="mapping" open="(" separator="," close=")">
            #{mapping.dataTypeCode}
        </foreach>
    </select>

</mapper>